*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
main {
  min-height: 75vh;
}
.container {
  padding: 56px 0;
}
.row {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}
input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

header,
footer {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0;
}
.navbar {
  display: flex;
  flex-direction: row;
  color: red;
}
ul {
  list-style-type: none;
}
.logo__img {
  width: 200px;
}